################################################################################
# nxTools - Pre Configuration                                                  #
################################################################################
#
#### Areas #################################################
#
# Format : <area> <physical path>
# Example: MP3 "C:/ioFTPD/site/MP3/%M%D/"
#
# Date Cookies:
#  %% - Percent sign    (%)
#  %d - Day             (1-31)
#  %w - Week            (1-53)
#  %m - Month           (1-12)
#  %y - Year            (04)
#  %D - Day w/padding   (01-31)
#  %W - Week w/padding  (01-53)
#  %M - Month w/padding (01-12)
#  %Y - Year w/century  (2004)
#
# Description:
#  - Areas and destination paths to send pre's.
#  - The area must be defined in uppercase.
#  - The path must have both leading and trailing slashes.
#
#### Groups ################################################
#
# Format : <area> <groups>
# Example: MP3 "NX NXMP3"
#
# Description:
#  - Define which groups have access to which pre area.
#  - The area must be defined in uppercase.
#
#### Paths #################################################
#
# Format : <group> <paths>
# Example: NX "/Groups/NX/" "/Groups/NX-iSO/"
#
# Description:
#  - Define the directory which groups can pre from.
#  - Several pre paths may be defined, at least one is required.
#
############################################################

[AREAS]
XXX "E:/ioFTPD/site/XXX/"
SVCD "E:/ioFTPD/site/SVCD/"
MP3 "E:/ioFTPD/site/MP3/%M%D/"
APPS "E:/ioFTPD/site/APPS/"
VCD "E:/ioFTPD/site/VCD/"
GAMES "E:/ioFTPD/site/SVCD/"
TV "E:/ioFTPD/site/TV/"
0DAY "E:/ioFTPD/site/0DAY/%M%D/"
XVID "E:/ioFTPD/site/XVID/"

[GROUPS]
XXX "NX STAFF"
SVCD "NX STAFF"
MP3 "NX STAFF"
APPS "NX STAFF"
VCD "NX STAFF"
GAMES "NX STAFF"
TV "NX STAFF"
0DAY "NX STAFF"
XVID "NX STAFF"

[PATHS]
STAFF "/GROUPS/STAFF/"
MYGRP "/GROUPS/MYGRP/" "/GROUPS/MYGRP-iSO"
