/*

nxMyDB - MySQL Database for ioFTPD
Copyright (c) 2006 neoxed

Module Name:
    Resources

Author:
    neoxed (neoxed@gmail.com) Jun 3, 2006

Abstract:
    Version information.

*/

#include <winver.h>

#define Stringify(s)        StringifyHelper(s)
#define StringifyHelper(s)  #s

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    VERSION_RES
 PRODUCTVERSION VERSION_RES
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",  "MySQL Database for ioFTPD"
            VALUE "FileVersion",      Stringify(VERSION)
            VALUE "InternalName",     "nxMyDB"
            VALUE "LegalCopyright",   "Copyright (c) 2006 neoxed"
            VALUE "OriginalFilename", "nxmydb.dll"
            VALUE "ProductName",      "nxMyDB"
            VALUE "ProductVersion",   Stringify(VERSION)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
