/*
 * nxHelper - Tcl extension for nxTools.
 * Copyright (c) 2004-2006 neoxed
 *
 * File Name:
 *   nxHelper.rc
 *
 * Author:
 *   neoxed (neoxed@gmail.com) May 22, 2005
 *
 * Abstract:
 *   Library version header.
 */

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    PACKAGE_VERSION_RES
 PRODUCTVERSION PACKAGE_VERSION_RES
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",         "Build Options: " PACKAGE_OPTIONS
            VALUE "FileDescription",  PACKAGE_DESC
            VALUE "FileVersion",      PACKAGE_VERSION
            VALUE "InternalName",     PACKAGE_NAME
            VALUE "LegalCopyright",   "Copyright (c) 2004-2006 neoxed"
            VALUE "OriginalFilename", PACKAGE_FILE
            VALUE "ProductName",      PACKAGE_DESC
            VALUE "ProductVersion",   PACKAGE_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
